openapi: 3.2.0
info:
  title: Skai Chats API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Chats
paths:
  /api/v1/chats/{chat_id}/exchanges/{exchange_id}/abort:
    put:
      summary: Abort chat exchange
      operationId: abortChatExchange
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Chats
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Chats
      summary: Describe api chats by chat id exchanges by exchange id abort
      x-summary-source: derived
      operationId: optionsApiV1ChatsByChatIdExchangesByExchangeIdAbort
      x-operation-id-source: derived
  /api/v1/chats/{chat_id}/exchanges:
    get:
      summary: Get Chat with its exchanges
      operationId: listChatExchanges
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Chats
    post:
      summary: Create chat exchange
      operationId: createChatExchange
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Chats
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Chats
      summary: Describe api chats by chat id exchanges
      x-summary-source: derived
      operationId: optionsApiV1ChatsByChatIdExchanges
      x-operation-id-source: derived
  /api/v1/chats:
    get:
      summary: Get user Chats
      operationId: listChats
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Chats
    post:
      summary: Create chat
      operationId: createChat
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Chats
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Chats
      summary: Describe api chats
      x-summary-source: derived
      operationId: optionsApiV1Chats
      x-operation-id-source: derived
  /api/v1/chats/{chat_id}/exchanges/{exchange_id}:
    get:
      summary: Get answer for exchange
      operationId: getChatExchange
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Chats
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Chats
      summary: Describe api chats by chat id exchanges by exchange id
      x-summary-source: derived
      operationId: optionsApiV1ChatsByChatIdExchangesByExchangeId
      x-operation-id-source: derived
  /api/v1/chats/{chat_id}:
    delete:
      summary: Delete chat
      operationId: deleteChat
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Chats
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Chats
      summary: Describe api chats by chat id
      x-summary-source: derived
      operationId: optionsApiV1ChatsByChatId
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
