openapi: 3.2.0
info:
  title: Skai Rotations API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Rotations
paths:
  /api/v1/rotations:
    get:
      summary: Fetch rotations by ksName and adGroupIds
      responses:
        200:
          description: 200 response
        400:
          description: 400 bad request
        500:
          description: 500 internal server error
      tags:
      - Rotations
      operationId: getApiV1Rotations
      x-operation-id-source: derived
    post:
      summary: Save rotations in bulk
      responses:
        200:
          description: 200 response
        400:
          description: 400 bad request
        500:
          description: 500 internal server error
      tags:
      - Rotations
      operationId: postApiV1Rotations
      x-operation-id-source: derived
    delete:
      summary: Delete rotations in bulk
      responses:
        200:
          description: 200 response
        400:
          description: 400 bad request
        500:
          description: 500 internal server error
      tags:
      - Rotations
      operationId: deleteApiV1Rotations
      x-operation-id-source: derived
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Rotations
      summary: Describe api rotations
      x-summary-source: derived
      operationId: optionsApiV1Rotations
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
