openapi: 3.2.0
info:
  title: Skai Brands API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Brands
paths:
  /api/v1/brands/{agencyId}:
    get:
      summary: get agency brands
      operationId: getAgencyBrands
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Brands
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Brands
      summary: Describe api brands by agency id
      x-summary-source: derived
      operationId: optionsApiV1BrandsByAgencyId
      x-operation-id-source: derived
  /api/v1/brands:
    post:
      summary: create agency brand
      operationId: createAgencyBrand
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Brands
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Brands
      summary: Describe api brands
      x-summary-source: derived
      operationId: optionsApiV1Brands
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
