openapi: 3.2.0
info:
  title: Skai Profile API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Profile
  description: 'Publishers:

    Search

    Social (excl. Meta)

    Retail Media'
paths:
  /api/v1/profiles:
    post:
      tags:
      - Profile
      summary: Copy an existing profile
      description: Create a new profile by copying an existing profile and applying all of its attributes to the new profile.
      operationId: createProfile
      parameters:
      - $ref: '#/components/parameters/ks'
      requestBody:
        $ref: '#/components/requestBodies/Profile'
      responses:
        201:
          description: New profile was created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/responses/ProfileApiResponse'
              example:
                status: SUCCESS
                entities:
                - id: 1234
                  success: true
                  errors: []
                  created_accounts:
                  - id: 123
                    channelType: MSN
                    uniqueIdInTarget: '1234'
                  profile_token: aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
        400:
          description: Bad request (usually indicates validation failure for client input)
          content:
            application/json:
              schema:
                $ref: '#/components/responses/ProfileApiResponse'
              example:
                status: FAILED
                entities:
                - id: null
                  success: false
                  errors:
                  - fieldName: srcProfile
                    error: SRC_PROFILE_NOT_EXISTS
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/responses/ProfileApiResponse'
              example:
                status: FAILED
                entities:
                - id: null
                  success: false
                  errors:
                  - fieldName: creationServerError
                    error: Copying channel account failed - Unexpected error occurred.
                    parameters: {}
  /api/v1/profiles/{profile_id}:
    put:
      tags:
      - Profile
      summary: Edit an existing profile
      operationId: updateProfile
      parameters:
      - $ref: '#/components/parameters/ks'
      - $ref: '#/components/parameters/ProfileId'
      requestBody:
        $ref: '#/components/requestBodies/EditProfile'
      responses:
        200:
          description: Profile was edited successfully
          content:
            application/json:
              schema:
                $ref: '#/components/responses/EditProfileApiResponse'
              example:
                status: SUCCESS
                entities:
                - id: 1234
                  success: true
                  errors: []
                paging: null
                error_message: null
        400:
          description: Bad request (usually indicates validation failure for client input)
          content:
            application/json:
              schema:
                $ref: '#/components/responses/EditProfileApiResponse'
              example:
                status: FAILED
                entities:
                - id: '1444'
                  success: false
                  errors:
                  - fieldName: profile name
                    error: Profile name already exists
                paging: null
                error_message: null
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/responses/EditProfileApiResponse'
              example:
                status: FAILED
                entities:
                - id: null
                  success: false
                  errors:
                  - fieldName: creationServerError
                    error: Edit profile failed - Unexpected error occurred.
                    parameters: {}
                paging: null
                error_message: null
components:
  schemas:
    ApiResponseStatus:
      type: string
      readOnly: true
      enum:
      - SUCCESS
      - FAILED
      - PARTIAL_SUCCESS
    Profile:
      type: object
      properties:
        profile_name:
          type: string
          description: New profile name
        display_url:
          type: string
          description: Display URL
        land_url:
          type: string
          description: Land URL
        currency:
          type: string
          description: Currency code
        source_profile:
          $ref: '#/components/schemas/SourceProfile'
      description: The properties for the newly created profile
      example:
        profile_name: new profile name
        display_url: skai.io
        land_url: http://skai.io
        currency: USD
        source_profile:
          profile_id: 12
          copy_channel_accounts: true
          master_accounts:
          - master_account_id: '1'
            channel_type: FB
    SourceProfile:
      type: object
      properties:
        profile_id:
          type: integer
          description: The copied profile id
          format: int64
        master_accounts:
          type: array
          description: Master account ID
          items:
            $ref: '#/components/schemas/MasterAccount'
      description: The copied profile details
    EditProfileResponseEntities:
      type: object
      properties:
        id:
          type: integer
          description: Profile ID
          format: int64
        success:
          type: boolean
          description: Indicates if edit profile was completed successfully
        errors:
          type: array
          description: Array, where each item contains an error field and an error code (description) in the case that there are errors
          items:
            $ref: '#/components/schemas/ErrorField'
      description: The details of the edited profile
    EditProfileResponseApi:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/ApiResponseStatus'
        entities:
          type: array
          items:
            $ref: '#/components/schemas/EditProfileResponseEntities'
        paging:
          $ref: '#/components/schemas/Paging'
        error_message:
          type: string
    EditProfile:
      type: object
      properties:
        external_id:
          type: string
          description: New external profile ID
        profile_name:
          type: string
          description: New profile name
      description: The properties for the edited profile
      example:
      - external_id: '1111'
        profile_name: profile example
    Paging:
      type: object
      properties:
        previous_page:
          type: string
          readOnly: true
        next_page:
          type: string
          readOnly: true
    MasterAccount:
      type: object
      properties:
        channel_type:
          type: string
          description: The channel
          enum:
          - GOOGLE
          - MSN
          - PINTEREST
        master_account_id:
          type: string
          description: The master account id in kenshoo
      description: The master accounts used to create channel accounts in the created profile
    ErrorField:
      type: object
      properties:
        fieldName:
          type: string
          description: The error field
        error:
          type: string
          description: Error message
        parameters:
          type: object
          additionalProperties:
            type: string
          description: Error additional properties
    CreatedAccount:
      type: object
      properties:
        id:
          type: string
          description: Channel account id
        channelType:
          type: string
          description: The channel
        uniqueIdInTarget:
          type: string
          description: The account id in the channel
      description: details of channel account copied in the copy profile process
    ProfileResponse:
      type: object
      properties:
        id:
          type: integer
          description: New profile ID in case profile creation finished successfully
          format: int64
        success:
          type: boolean
          description: Indicates if onboarding profile creation was completed successfully
        errors:
          type: array
          description: Array, where each item contains an error field and an error code (description) in the case that there are errors
          items:
            $ref: '#/components/schemas/ErrorField'
        created_accounts:
          type: array
          description: Array containing the details of the copied channel accounts
          items:
            $ref: '#/components/schemas/CreatedAccount'
        profile_token:
          type: string
          description: New profile token in case profile creation finished successfully
      description: The details of the created profile
  parameters:
    ks:
      name: ks
      in: query
      description: The KS to refer the request to. You can find this ID in the Skai platform under _Administration_ -> _About Skai_ -> _Server ID_
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: '1234'
    ProfileId:
      name: profile_id
      in: path
      description: The id of profile to edit
      required: true
      style: simple
      explode: false
      schema:
        type: integer
  requestBodies:
    EditProfile:
      description: The profile details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EditProfile'
      required: true
    Profile:
      description: The profile details
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Profile'
      required: true
  responses:
    ProfileApiResponse:
      $ref: '#/components/schemas/ProfileResponse'
    EditProfileApiResponse:
      $ref: '#/components/schemas/EditProfileResponseApi'
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
