openapi: 3.2.0
info:
  title: Skai Templates API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Templates
paths:
  /api/v1/templates/{type}/{id}:
    get:
      operationId: getTemplate
      responses:
        200:
          description: 200 response
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Templates
      summary: Get template
      x-summary-source: derived
  /api/v1/templates/{type}:
    get:
      operationId: listTemplates
      responses:
        200:
          description: 200 response
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Templates
      summary: List templates
      x-summary-source: derived
    put:
      operationId: updateTemplate
      responses:
        200:
          description: 200 response
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Templates
      summary: Update template
      x-summary-source: derived
    post:
      operationId: createTemplate
      responses:
        200:
          description: 200 response
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Templates
      summary: Create template
      x-summary-source: derived
    patch:
      operationId: patchTemplate
      responses:
        200:
          description: 200 response
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Templates
      summary: Patch template
      x-summary-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
