openapi: 3.2.0
info:
  title: Skai Homepage Context API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Homepage Context
paths:
  /api/v1/homepage_context/([0-9]+)/scope:
    get:
      summary: get homepage scope with evaluated profiles
      operationId: getHomepageScope
      responses:
        200:
          description: 200 response
        401:
          description: User unauthorized
        500:
          description: homepage was not found
      tags:
      - Homepage Context
    options:
      description: For cross-origin requests
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Homepage Context
      summary: Describe api homepage context ([0 9]+) scope
      x-summary-source: derived
      operationId: optionsApiV1HomepageContext([09]+)Scope
      x-operation-id-source: derived
  /api/v1/homepage_context/([0-9]+)/best_practice_info:
    get:
      summary: best practices info
      operationId: getBestPracticesInfo
      responses:
        200:
          description: 200 response
        500:
          description: homepage was not found
      tags:
      - Homepage Context
    options:
      description: For cross-origin requests
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Homepage Context
      summary: Describe api homepage context ([0 9]+) best practice info
      x-summary-source: derived
      operationId: optionsApiV1HomepageContext([09]+)BestPracticeInfo
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
