openapi: 3.2.0
info:
  title: Skai Homepage Auth API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Homepage Auth
paths:
  /api/v1/homepage_auth/user_permissions:
    get:
      summary: Get home-page user permissions
      operationId: getUserPermissions
      responses:
        200:
          description: Successfully fetched home-page user permissions
        400:
          description: Request is invalid
        401:
          description: User unauthorized
        500:
          description: Failed to fetch home-page user permissions
      tags:
      - Homepage Auth
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Homepage Auth
      summary: Describe api homepage auth user permissions
      x-summary-source: derived
      operationId: optionsApiV1HomepageAuthUserPermissions
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
