openapi: 3.2.0
info:
  title: Skai Spotlight API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Spotlight
paths:
  /api/v1/spotlight:
    post:
      summary: request spotlight and segments data
      operationId: createSpotlight
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Spotlight
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Spotlight
      summary: Describe api spotlight
      x-summary-source: derived
      operationId: optionsApiV1Spotlight
      x-operation-id-source: derived
  /api/v1/spotlight/read-status:
    post:
      summary: update spotlight read status
      operationId: markSpotlightRead
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Spotlight
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Spotlight
      summary: Describe api spotlight read status
      x-summary-source: derived
      operationId: optionsApiV1SpotlightReadStatus
      x-operation-id-source: derived
  /api/v1/spotlight/export:
    post:
      summary: exports spotlights of specific KS, view and profiles
      operationId: exportSpotlight
      responses:
        200:
          description: 200 response
        401:
          description: User unauthorized
        500:
          description: unexpected error
      tags:
      - Spotlight
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Spotlight
      summary: Describe api spotlight export
      x-summary-source: derived
      operationId: optionsApiV1SpotlightExport
      x-operation-id-source: derived
  /api/v1/spotlight/pivot-drill-down:
    post:
      summary: request spotlight pivot drill down
      operationId: spotlightPivotDrillDown
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Spotlight
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Spotlight
      summary: Describe api spotlight pivot drill down
      x-summary-source: derived
      operationId: optionsApiV1SpotlightPivotDrillDown
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
