openapi: 3.2.0
info:
  title: Skai Budget Oversight API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Budget Oversight
paths:
  /api/v2/budget_oversight/([0-9]+)/widget_data:
    get:
      summary: Get widget data
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Budget Oversight
      operationId: getApiV2BudgetOversight([09]+)WidgetData
      x-operation-id-source: derived
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Budget Oversight
      summary: Describe api budget oversight ([0 9]+) widget data
      x-summary-source: derived
      operationId: optionsApiV2BudgetOversight([09]+)WidgetData
      x-operation-id-source: derived
  /api/v1/budget_oversight/currencies:
    get:
      summary: Get currencies
      operationId: getBudgetOversightCurrencies
      responses:
        200:
          description: 200 response
        500:
          description: unexpected error
      tags:
      - Budget Oversight
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Budget Oversight
      summary: Describe api budget oversight currencies
      x-summary-source: derived
      operationId: optionsApiV1BudgetOversightCurrencies
      x-operation-id-source: derived
  /api/v1/budget_oversight/available_filters:
    get:
      summary: Get available filters
      operationId: getBudgetOversightFilters
      responses:
        200:
          description: 200 response
        500:
          description: unexpected error
      tags:
      - Budget Oversight
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Budget Oversight
      summary: Describe api budget oversight available filters
      x-summary-source: derived
      operationId: optionsApiV1BudgetOversightAvailableFilters
      x-operation-id-source: derived
  /api/v1/budget_oversight/([0-9]+)/widget_data:
    get:
      summary: Get widget data
      operationId: getBudgetOversightWidgetData
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Budget Oversight
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Budget Oversight
      summary: Describe api budget oversight ([0 9]+) widget data
      x-summary-source: derived
      operationId: optionsApiV1BudgetOversight([09]+)WidgetData
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
