openapi: 3.2.0
info:
  title: Skai Portfolio Manager API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Portfolio Manager
paths:
  /api/v1/portfolio-manager/{ksname}/portfolios/{portfolioId}/manual-pacing:
    get:
      summary: Get manual pacing settings
      operationId: getManualPacing
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Portfolio Manager
    put:
      summary: Update manual pacing settings
      operationId: updateManualPacing
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Portfolio Manager
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Portfolio Manager
      summary: Describe api portfolio manager by ksname portfolios by portfolio id manual…
      x-summary-source: derived
      operationId: optionsApiV1PortfolioManagerByKsnamePortfoliosByPortfolioIdManualPacing
      x-operation-id-source: derived
  /api/v1/portfolio-manager/{ksname}/portfolios/{portfolioId}/planned-budgets:
    get:
      summary: Get planned budgets
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Portfolio Manager
      operationId: getApiV1PortfolioManagerByKsnamePortfoliosByPortfolioIdPlannedBudgets
      x-operation-id-source: derived
    put:
      summary: Update planned budgets
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Portfolio Manager
      operationId: putApiV1PortfolioManagerByKsnamePortfoliosByPortfolioIdPlannedBudgets
      x-operation-id-source: derived
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Portfolio Manager
      summary: Describe api portfolio manager by ksname portfolios by portfolio id planned…
      x-summary-source: derived
      operationId: optionsApiV1PortfolioManagerByKsnamePortfoliosByPortfolioIdPlannedBudgets
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
