openapi: 3.2.0
info:
  title: Skai Entities Creator API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Entities Creator
paths:
  /api/v1/entities-creator/itemsets:
    post:
      summary: Create new item sets
      operationId: createItems
      responses:
        201:
          description: New item sets were created successfully
        400:
          description: Request isn't valid
        404:
          description: Items weren't added
        500:
          description: Failed to create new items
      tags:
      - Entities Creator
    options:
      summary: Create item sets options
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorItemsets
      x-operation-id-source: derived
  /api/v1/entities-creator/order/dsp:
    put:
      summary: Edit AmazonDSP Campaign
      operationId: bulkUpdateCampaignAmazonDsp
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    post:
      summary: Create AmazonDSP Campaign
      operationId: bulkCreateCampaignAmazonDsp
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    options:
      summary: AmazonDSP Campaign creation
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorOrderDsp
      x-operation-id-source: derived
  /api/v1/entities-creator/order/dsp/{orderId}:
    put:
      summary: Edit AmazonDSP Campaign
      operationId: updateCampaignAmazonDsp
      parameters:
      - name: orderId
        in: path
        required: true
        style: simple
        explode: false
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    post:
      summary: Get AmazonDSP Campaign
      operationId: createCampaignAmazonDsp
      parameters:
      - name: orderId
        in: path
        required: true
        style: simple
        explode: false
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
    options:
      summary: Get AmazonDSP Campaign
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorOrderDspByOrderId
      x-operation-id-source: derived
  /api/v1/entities-creator/line-item/{lineItemId}:
    get:
      summary: Get line item
      operationId: getLineItem
      parameters:
      - name: lineItemId
        in: path
        required: true
        style: simple
        explode: false
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
    options:
      summary: Get line-item
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorLineItemByLineItemId
      x-operation-id-source: derived
  /api/v1/entities-creator/line-item/dsp/{lineItemId}:
    put:
      summary: Edit AmazonDSP Ad Group
      operationId: updateAdGroupAmazonDsp
      parameters:
      - name: lineItemId
        in: path
        required: true
        style: simple
        explode: false
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    post:
      summary: Get AmazonDSP Ad Group
      operationId: createAdGroupAmazonDsp
      parameters:
      - name: lineItemId
        in: path
        required: true
        style: simple
        explode: false
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
    options:
      summary: Get AmazonDSP Ad Group
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorLineItemDspByLineItemId
      x-operation-id-source: derived
  /api/v1/entities-creator/line-item/dsp/productCategories:
    post:
      summary: get available categories for line item
      operationId: getAmazonDspProductCategories
      responses:
        200:
          description: 200 response
        404:
          description: 404 response
        500:
          description: 500 response
      tags:
      - Entities Creator
    options:
      summary: get available categories for line item
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorLineItemDspProductCategories
      x-operation-id-source: derived
  /api/v1/entities-creator/inventory:
    post:
      summary: Get AmazonDSP inventories
      operationId: createInventory
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    options:
      summary: Create inventories options
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorInventory
      x-operation-id-source: derived
  /api/v1/entities-creator/line-item/dsp:
    put:
      summary: Edit AmazonDSP Ad Group
      operationId: bulkUpdateAdGroupAmazonDsp
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    post:
      summary: Create AmazonDSP Ad Group
      operationId: bulkCreateAdGroupAmazonDsp
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    options:
      summary: AmazonDSP Ad Group creation
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorLineItemDsp
      x-operation-id-source: derived
  /api/v1/entities-creator/line-item/dsp-async:
    post:
      summary: Create AmazonDSP Ad Group async
      operationId: bulkCreateAdGroupAmazonDspAsync
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    options:
      summary: AmazonDSP Ad Group creation async
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorLineItemDspAsync
      x-operation-id-source: derived
  /api/v1/entities-creator/line-item/dsp-async/{lineItemId}:
    put:
      summary: Edit AmazonDSP Ad Group async
      operationId: updateAdGroupAmazonDspAsync
      parameters:
      - name: lineItemId
        in: path
        required: true
        style: simple
        explode: false
      responses:
        201:
          description: 201 response
        500:
          description: 500 response
        207:
          description: 207 response
      tags:
      - Entities Creator
    options:
      summary: Get AmazonDSP Ad Group async
      responses:
        200:
          description: 200 response
      tags:
      - Entities Creator
      operationId: optionsApiV1EntitiesCreatorLineItemDspAsyncByLineItemId
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
