openapi: 3.2.0
info:
  title: Skai Add Ons API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Add Ons
paths:
  /api/v1/add-ons/{addon_id}:
    get:
      summary: get addon usage by id and billing account id
      operationId: getAddonUsage
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Add Ons
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Add Ons
      summary: Describe api add ons by addon id
      x-summary-source: derived
      operationId: optionsApiV1AddOnsByAddonId
      x-operation-id-source: derived
  /api/v1/add-ons:
    get:
      summary: get addons usage by billing account id
      operationId: getAddonsUsage
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Add Ons
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Add Ons
      summary: Describe api add ons
      x-summary-source: derived
      operationId: optionsApiV1AddOns
      x-operation-id-source: derived
  /api/v1/add-ons/{billingAccountId}/usage:
    put:
      summary: update add-on usage data
      operationId: updateAddonUsage
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Add Ons
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Add Ons
      summary: Describe api add ons by billing account id usage
      x-summary-source: derived
      operationId: optionsApiV1AddOnsByBillingAccountIdUsage
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
