openapi: 3.2.0
info:
  title: Skai Agencies API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Agencies
paths:
  /api/v2/agencies/{agency_id}/monitoring/results-explanation-file:
    get:
      summary: Get test result explanation file
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
      operationId: getApiV2AgenciesByAgencyIdMonitoringResultsExplanationFile
      x-operation-id-source: derived
    options:
      summary: Get test result explanation file
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
      operationId: optionsApiV2AgenciesByAgencyIdMonitoringResultsExplanationFile
      x-operation-id-source: derived
  /api/v1/agencies/{agency_id}/monitoring/tests/{test_id}/algo-types/{algo_type}/datasources/{datasource_id}/monitoring-data:
    get:
      summary: get test status by algo type
      operationId: getTestStatusByAlgoType
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
    options:
      summary: get test status options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
      operationId: optionsApiV1AgenciesByAgencyIdMonitoringTestsByTestIdAlgoTypesByAlgoTypeDatasourcesByDatasourceIdMonitoringData
      x-operation-id-source: derived
  /api/v1/agencies/{agency_id}/monitoring/tests/statuses:
    get:
      summary: Get all test statuses per agency id
      operationId: getTestStatuses
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
    options:
      summary: Get all test statuses options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
      operationId: optionsApiV1AgenciesByAgencyIdMonitoringTestsStatuses
      x-operation-id-source: derived
  /api/v1/agencies/{agency_id}/monitoring/tests/{test_id}:
    get:
      summary: get test status
      operationId: getTestStatusById
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: test_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
    options:
      summary: get test status options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
      operationId: optionsApiV1AgenciesByAgencyIdMonitoringTestsByTestId
      x-operation-id-source: derived
  /api/v1/agencies/{agency_id}/monitoring/tests/{test_id}/data:
    get:
      summary: export monitoring data
      operationId: exportTestMonitoringData
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: test_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
    options:
      summary: export monitoring data options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Agencies
      operationId: optionsApiV1AgenciesByAgencyIdMonitoringTestsByTestIdData
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
