openapi: 3.2.0
info:
  title: Skai Configuration API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Configuration
paths:
  /api/v1/configuration/{configuration_type}/{configuration_field}/homepage_values:
    get:
      summary: get all configuration homepage values by type and field
      operationId: getConfigurationHomepageValues
      responses:
        200:
          description: 200 response
        400:
          description: Request is not valid
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Configuration
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Configuration
      summary: Describe api configuration by configuration type by configuration field…
      x-summary-source: derived
      operationId: optionsApiV1ConfigurationByConfigurationTypeByConfigurationFieldHomepageValues
      x-operation-id-source: derived
  /api/v1/configuration/{configuration_type}/{configuration_field}/values:
    get:
      summary: get all configuration values by type and field
      operationId: getConfigurationValues
      responses:
        200:
          description: 200 response
        400:
          description: Request is not valid
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Configuration
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        401:
          description: Unauthorized
        500:
          description: unexpected error
      tags:
      - Configuration
      summary: Describe api configuration by configuration type by configuration field values
      x-summary-source: derived
      operationId: optionsApiV1ConfigurationByConfigurationTypeByConfigurationFieldValues
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
