openapi: 3.2.0
info:
  title: Skai Homepage API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Homepage
paths:
  /api/v1/homepage/([0-9]+)/budget_oversight:
    get:
      summary: Get budget oversight
      operationId: getBudgetOversight
      responses:
        200:
          description: 200 response
        500:
          description: unexpected error
      tags:
      - Homepage
    put:
      summary: Update budget oversight
      description: Update budget oversight.
      operationId: updateBudgetOversight
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Homepage
    post:
      summary: Create budget oversight
      operationId: createBudgetOversight
      responses:
        200:
          description: Job successfully retrieved.
        204:
          description: No pending jobs available. Try again in the next run.
      tags:
      - Homepage
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Homepage
      summary: Describe api homepage ([0 9]+) budget oversight
      x-summary-source: derived
      operationId: optionsApiV1Homepage([09]+)BudgetOversight
      x-operation-id-source: derived
  /api/v1/homepage/([0-9]+)/budget_oversight/is_name_unique:
    get:
      summary: Get is pacing monitor name unique
      operationId: checkBudgetOversightNameUnique
      responses:
        200:
          description: 200 response
        500:
          description: unexpected error
      tags:
      - Homepage
    options:
      responses:
        200:
          description: 200 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Homepage
      summary: Describe api homepage ([0 9]+) budget oversight is name unique
      x-summary-source: derived
      operationId: optionsApiV1Homepage([09]+)BudgetOversightIsNameUnique
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
