openapi: 3.2.0
info:
  title: Skai Accounts API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Accounts
paths:
  /api/v1/accounts/{billingAccountId}/add-ons-request:
    post:
      summary: create add ons request
      operationId: requestAddon
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Accounts
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Accounts
      summary: Describe api accounts by billing account id add ons request
      x-summary-source: derived
      operationId: optionsApiV1AccountsByBillingAccountIdAddOnsRequest
      x-operation-id-source: derived
  /api/v1/accounts/addon-request:
    post:
      summary: create add ons request
      operationId: requestAddonNew
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Accounts
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Accounts
      summary: Describe api accounts addon request
      x-summary-source: derived
      operationId: optionsApiV1AccountsAddonRequest
      x-operation-id-source: derived
  /api/v1/accounts/{billingAccountId}/addons:
    get:
      summary: get account addons data
      operationId: getAddonsData
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Accounts
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Accounts
      summary: Describe api accounts by billing account id addons
      x-summary-source: derived
      operationId: optionsApiV1AccountsByBillingAccountIdAddons
      x-operation-id-source: derived
  /api/v1/accounts/spend:
    get:
      summary: get account spend data
      operationId: getSpendDataNew
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Accounts
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Accounts
      summary: Describe api accounts spend
      x-summary-source: derived
      operationId: optionsApiV1AccountsSpend
      x-operation-id-source: derived
  /api/v1/accounts/topmost-parent:
    get:
      summary: get topmost parent by billing account id
      operationId: getTopmostParent
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Accounts
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Accounts
      summary: Describe api accounts topmost parent
      x-summary-source: derived
      operationId: optionsApiV1AccountsTopmostParent
      x-operation-id-source: derived
  /api/v1/accounts/addons:
    get:
      summary: get account addons data
      operationId: getAddonsDataNew
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Accounts
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Accounts
      summary: Describe api accounts addons
      x-summary-source: derived
      operationId: optionsApiV1AccountsAddons
      x-operation-id-source: derived
  /api/v1/accounts/{billingAccountId}/data:
    get:
      summary: get account plan overview data
      operationId: getAccountData
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Accounts
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Accounts
      summary: Describe api accounts by billing account id data
      x-summary-source: derived
      operationId: optionsApiV1AccountsByBillingAccountIdData
      x-operation-id-source: derived
  /api/v1/accounts/{billingAccountId}/spend:
    get:
      summary: get account spend data
      operationId: getSpendData
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Accounts
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Accounts
      summary: Describe api accounts by billing account id spend
      x-summary-source: derived
      operationId: optionsApiV1AccountsByBillingAccountIdSpend
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
