openapi: 3.2.0
info:
  title: Skai Spotlights API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Spotlights
paths:
  /api/v1/spotlights/ai/conversation/message:
    post:
      summary: ask a question
      operationId: askSpotlightAiQuestion
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Spotlights
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Spotlights
      summary: Describe api spotlights ai conversation message
      x-summary-source: derived
      operationId: optionsApiV1SpotlightsAiConversationMessage
      x-operation-id-source: derived
  /api/v1/spotlights/available_metrics:
    get:
      summary: request spotlight and segments data
      operationId: getSpotlightMetrics
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Spotlights
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Spotlights
      summary: Describe api spotlights available metrics
      x-summary-source: derived
      operationId: optionsApiV1SpotlightsAvailableMetrics
      x-operation-id-source: derived
  /api/v1/spotlights/ai/conversation/message/{messageId}:
    get:
      summary: ask a question
      operationId: getSpotlightAiAnswer
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Spotlights
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Spotlights
      summary: Describe api spotlights ai conversation message by message id
      x-summary-source: derived
      operationId: optionsApiV1SpotlightsAiConversationMessageByMessageId
      x-operation-id-source: derived
  /api/v1/spotlights/ai/conversation:
    post:
      summary: request conversation
      operationId: createSpotlightAiConversation
      responses:
        200:
          description: 200 response
        400:
          description: 400 response
        500:
          description: 500 response
      tags:
      - Spotlights
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Spotlights
      summary: Describe api spotlights ai conversation
      x-summary-source: derived
      operationId: optionsApiV1SpotlightsAiConversation
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
