openapi: 3.2.0
info:
  title: Skai Tests API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Tests
paths:
  /api/v1/tests/{testId}/activationInstructions:
    get:
      summary: get activation instructions result
      operationId: getActivationInstructions
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Tests
    put:
      summary: create activation instructions
      operationId: updateActivationInstructions
      responses:
        200:
          description: 200 response
        500:
          description: 500 response
      tags:
      - Tests
    options:
      description: For cross-origin requests
      responses:
        default:
          description: The operation was completed successfully
      tags:
      - Tests
      summary: Describe api tests by test id activation instructions
      x-summary-source: derived
      operationId: optionsApiV1TestsByTestIdActivationInstructions
      x-operation-id-source: derived
  /api/v1/tests/{testId}/end:
    put:
      summary: End test
      operationId: endTest
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Tests
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
