openapi: 3.2.0
info:
  title: Skai Incrementality API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Incrementality
paths:
  /api/v1/incrementality/agencies/{agency_id}/data_sources/{data_source_id}:
    put:
      summary: update data source
      operationId: updateDataSource
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: data_source_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: update data source options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityAgenciesByAgencyIdDataSourcesByDataSourceId
      x-operation-id-source: derived
  /api/v1/incrementality/agencies/{agency_id}/data_sources/info:
    post:
      summary: get data source info by name
      operationId: getDataSourceInfo
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: get data source info by name options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityAgenciesByAgencyIdDataSourcesInfo
      x-operation-id-source: derived
  /api/v1/incrementality/agencies/{agency_id}/data_load_tasks/{data_load_task_id}:
    get:
      summary: get data load task new
      operationId: getDataLoadTaskForAgency
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: data_load_task_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: incrementality data loader options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityAgenciesByAgencyIdDataLoadTasksByDataLoadTaskId
      x-operation-id-source: derived
  /api/v1/incrementality/files/upload:
    post:
      summary: Upload source file to S3
      operationId: uploadSourceFile
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: incrementality data loader options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityFilesUpload
      x-operation-id-source: derived
  /api/v1/incrementality/agencies/{agency_id}/data_load_tasks:
    post:
      summary: create new data load task - new
      operationId: createDataLoadTaskForAgency
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: incrementality data loader options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityAgenciesByAgencyIdDataLoadTasks
      x-operation-id-source: derived
  /api/v1/incrementality/data_load_tasks:
    post:
      summary: create new data load task
      operationId: createDataLoadTask
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: incrementality data loader options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityDataLoadTasks
      x-operation-id-source: derived
  /api/v1/incrementality/agencies/{agency_id}/data_sources/{data_source_id}/status:
    get:
      summary: get data status
      operationId: getDataSourceStatus
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: data_source_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: get data status options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityAgenciesByAgencyIdDataSourcesByDataSourceIdStatus
      x-operation-id-source: derived
  /api/v1/incrementality/agencies/{agency_id}/data_sources:
    post:
      summary: create new data source
      operationId: createDataSource
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: create new data source options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityAgenciesByAgencyIdDataSources
      x-operation-id-source: derived
  /api/v1/incrementality/data_load_tasks/{task_id}:
    get:
      summary: get data load task
      operationId: getDataLoadTask
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: incrementality data loader options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityDataLoadTasksByTaskId
      x-operation-id-source: derived
  /api/v2/incrementality/agencies/{agency_id}/data_sources/{data_source_id}:
    put:
      summary: update data source
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: data_source_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: putApiV2IncrementalityAgenciesByAgencyIdDataSourcesByDataSourceId
      x-operation-id-source: derived
    options:
      summary: update data source options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV2IncrementalityAgenciesByAgencyIdDataSourcesByDataSourceId
      x-operation-id-source: derived
  /api/v2/incrementality/agencies/{agency_id}/data_sources:
    post:
      summary: create new data source
      parameters:
      - name: agency_id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: postApiV2IncrementalityAgenciesByAgencyIdDataSources
      x-operation-id-source: derived
    options:
      summary: create new data source options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV2IncrementalityAgenciesByAgencyIdDataSources
      x-operation-id-source: derived
  /api/v1/incrementality/dataSources/agency/{agencyId}/{dataSourceId}/data:
    get:
      summary: Export data source data
      operationId: getDataSourceData
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: incrementality data source manager options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityDataSourcesAgencyByAgencyIdByDataSourceIdData
      x-operation-id-source: derived
  /api/v1/incrementality/agencies-ks:
    get:
      summary: Get ks-agency pairs with type
      operationId: getAgencyKsApps
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: incrementality data source manager options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityAgenciesKs
      x-operation-id-source: derived
  /api/v1/incrementality/ds-requests/agency/{agencyId}:
    post:
      summary: Create data source request
      operationId: createDataSourceRequests
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: Create data source request
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityDsRequestsAgencyByAgencyId
      x-operation-id-source: derived
  /api/v1/incrementality/dataSources/agency/{agencyId}:
    get:
      summary: Get agency data sources
      operationId: getDataSources
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: incrementality data source manager options
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityDataSourcesAgencyByAgencyId
      x-operation-id-source: derived
  /api/v1/incrementality/ftp-users/agency/{agencyId}:
    post:
      summary: Create ftp user
      operationId: createFtpUsers
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: Create ftp user
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityFtpUsersAgencyByAgencyId
      x-operation-id-source: derived
  /api/v1/incrementality/ds-requests/{dataSourceRequestId}:
    get:
      summary: Get data source request
      operationId: getDataSourceRequest
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    put:
      summary: Update data source request
      operationId: updateDataSourceRequest
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    post:
      summary: Create data source request
      operationId: submitDataSourceRequest
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
    options:
      summary: Get data source request
      responses:
        200:
          description: 200 response
        300:
          description: 300 response
      tags:
      - Incrementality
      operationId: optionsApiV1IncrementalityDsRequestsByDataSourceRequestId
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
