openapi: 3.2.0
info:
  title: Skai Pacing Monitor API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Pacing Monitor
paths:
  /api/v1/pacing_monitor/budget_oversight/by_owner:
    get:
      summary: Get all the budget oversight plans owned by the current user
      operationId: getBudgetOversightByOwner
      responses:
        200:
          description: Successfully returned budget oversight plans owned by the current user
        500:
          description: Internal server error, unexpected error
      tags:
      - Pacing Monitor
  /api/v1/pacing_monitor/media_plan/export:
    post:
      summary: Export Media plan
      operationId: exportMediaPlan
      responses:
        200:
          description: Job successfully retrieved.
        204:
          description: No pending jobs available. Try again in the next run.
        500:
          description: unexpected error
      tags:
      - Pacing Monitor
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Pacing Monitor
      summary: Describe api pacing monitor media plan export
      x-summary-source: derived
      operationId: optionsApiV1PacingMonitorMediaPlanExport
      x-operation-id-source: derived
  /api/v1/pacing_monitor/media_plan/import:
    post:
      summary: Import Media plan
      operationId: importMediaPlan
      responses:
        200:
          description: Job successfully retrieved.
        204:
          description: No pending jobs available. Try again in the next run.
        500:
          description: unexpected error
      tags:
      - Pacing Monitor
    options:
      responses:
        200:
          description: 201 response
        400:
          description: Request is not valid
        500:
          description: unexpected error
      tags:
      - Pacing Monitor
      summary: Describe api pacing monitor media plan import
      x-summary-source: derived
      operationId: optionsApiV1PacingMonitorMediaPlanImport
      x-operation-id-source: derived
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
