openapi: 3.2.0
info:
  title: Skai Metric Meta Data API
  description: '# Overview

    Skai APIs provide programmatic access to advertising data and campaign management across Search, Social, and Retail Media publishers.'
  version: 1.0.0
  x-logo:
    url: https://grid.kenshoo.com/resources-frontend/latest/kenshoo_logo/skai-logo-devportal.svg
    backgroundColor: '#FFFFFF'
    altText: Skai
servers:
- url: https://services.kenshoo.com
security:
- BearerAuth: []
tags:
- name: Metric Meta Data
paths:
  /api/v1/metric-meta-data:
    delete:
      summary: Delete metric meta data
      operationId: deleteMetricMetaData
      parameters:
      - $ref: '#/components/parameters/ks'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                description: Metric deletion successful
        500:
          description: ERROR
          content:
            application/json:
              schema:
                type: string
                description: Error deleting metric
      tags:
      - Metric Meta Data
components:
  parameters:
    ks:
      name: ks
      in: query
      description: The KS to refer the request to. You can find this ID in the Skai platform under _Administration_ -> _About Skai_ -> _Server ID_
      required: true
      style: form
      explode: true
      schema:
        type: string
      example: '1234'
x-tagGroups:
- name: Reporting
  tags:
  - Available Columns
  - Synchronous Reports
  - Asynchronous Reports
- name: Bulk Operations
  tags:
  - Jobs
  - Bulk Update
- name: AI & MCP
  tags:
  - MCP
- name: Objects
  tags:
  - Profile
  - Campaigns
  - Ad Groups
  - Ads
  - Product Groups
  - Portfolios
  - Meta Campaigns
  - Meta Ad Groups
  - Meta Ads
  - Columns
